@inject ICategoryService categoryService
@inject IDiscountService discountService

@{
    ViewData["Title"] = "Home Page";
}

<header>
    <a class="home-new-coupon" asp-controller="" asp-action="">
        <img src="~/images/discount_banner.png" />
    </a>
    <section class="home-nav">        
        <a class="home-logo" asp-controller="Home" asp-action="Index">T R E N D z</a>
        <div class="nav-search">
            <form>
                <label for="search">Bikini</label>
                <input type="text" id="search" name="search"/>
                <button type="submit"><i class="fa-solid fa-magnifying-glass" style="color: #fff;"></i></button>
            </form>
        </div>
        <div class="nav-links">
            <ul>
                <li><a asp-controller="" asp-action=""><i class="fa-solid fa-right-to-bracket" style="color: #000;"></i></a></li>
                <li><a asp-controller="" asp-action=""><i class="fa-solid fa-cart-shopping" style="color: #000;"></i></a></li>
                <li><a asp-controller="" asp-action=""><i class="fa-solid fa-heart" style="color: #000;"></i></a></li>
            </ul>
        </div>
    </section>
    <section class="home-categories">
        @{
            var categories = await categoryService.GetAllCategoriesAsync();

            <ul>                
                @{
                    foreach (var item in categories)
                    {
                        <li>
                            <a asp-action="" asp-controller="">@item.Name</a>
                        </li>
                    }
                }
            </ul>
        }
    </section>
    <section class="home-offers">
        @{
            var coupons = await discountService.GetNewestCouponsAsync(3);
            if (coupons.Any())
            {
                <ul>
                    @{
                        foreach (var item in coupons)
                        {
                            <li>
                                <a asp-action="@item.Percentage" asp-controller=""><img src="data:image/png;base64,@item.Image" /></a>
                            </li>
                        }
                    }
                </ul>
            }      
        }
    </section>
    <section class="top-categories">
        <ul>
            <li>
                <ul>
                    <li>                        
                        <a asp-action="" asp-controller="">
                            <img src="~/images/top-category/women.png" />
                            Women
                        </a>
                    </li>
                    <li>                        
                        <a asp-action="" asp-controller="">
                            <img src="~/images/top-category/curve.png" />
                            Curve
                        </a>
                    </li>
                    <li>
                        <a asp-action="" asp-controller="">
                            <img src="~/images/top-category/kids.png" />
                            Kids
                        </a>
                    </li>
                    <li>
                        <a asp-action="" asp-controller="">
                            <img src="~/images/top-category/men.png" />
                            Men
                        </a>
                    </li>
                    <li>
                        <a asp-action="" asp-controller="">
                            <img src="~/images/top-category/dresses.png" />
                            Dresses
                        </a>
                    </li>
                    <li>
                        <a asp-action="" asp-controller="">
                            <img src="~/images/top-category/tops.png" />
                            Tops
                        </a>
                    </li>
                    <li>
                        <a asp-action="" asp-controller="">
                            <img src="~/images/top-category/beachwear.png" />
                            Beachwear
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>
                        <a asp-action="" asp-controller="">
                            <img src="~/images/top-category/home.png" />
                            Home & Living
                        </a>
                    </li>
                    <li>
                        <a asp-action="" asp-controller="">
                            <img src="~/images/top-category/beauty.png" />
                            Beauty & Health
                        </a>
                    </li>
                    <li>
                        <a asp-action="" asp-controller="">
                            <img src="~/images/top-category/underwear.png" />
                            Underwear
                        </a>
                    </li>
                    <li>
                        <a asp-action="" asp-controller="">
                            <img src="~/images/top-category/sport.png" />
                            Sports
                        </a>
                    </li>
                    <li>
                        <a asp-action="" asp-controller="">
                            <img src="~/images/top-category/shoes.png" />
                            Shoes & Bags
                        </a>
                    </li>
                    <li>
                        <a asp-action="" asp-controller="">
                            <img src="~/images/top-category/accessories.png" />
                            Accessories
                        </a>
                    </li>
                    <li>
                        <a asp-action="" asp-controller="">
                            <img src="~/images/top-category/electronics.png" />
                            Electornics
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>    
</header>

<script>
    function changeNavSearchTitle() {
        const titleEl = document.querySelector(".nav-search form label");
        const titlesExamples = ["T-shirt", "Jeans", "Hoodie", "Dress", "Skirt", "Blouse", "Shorts", "Sweater", "Jacket", "Coat", "Tank top", "Polo shirt", "Cardigan", "Leggings", "Sweatpants", "Jumpsuit", "Romper", "Suit", "Blazer", "Vest", "Scarf", "Gloves", "Socks", "Underwear", "Bra", "Swimwear", "Bikini", "Trunks", "Pajamas", "Nightgown", "Camisole", "Corset", "Gown", "Turtleneck", "Crop top", "Overalls", "Tracksuit", "Raincoat", "Poncho", "Shawl", "Kimono", "Tunic", "Peacoat", "Windbreaker", "Henley shirt", "Rugby shirt", "Button-down shirt", "Graphic tee", "Denim jacket", "Leather jacket", "Bomber jacket", "Parka", "Maxi dress", "Midi dress", "Mini dress", "Sweatshirt", "Chinos", "Khakis", "Dress pants", "Capris", "Tights", "Overcoat", "Lingerie", "Slip dress", "Blouson", "Coveralls", "Bodysuit", "Shrug", "Tuxedo", "Culottes", "Sundress"];
           
        function getRandomNumber(max) {
            return Math.floor(Math.random() * max);
        }

        function changeTitle() {
            let index = getRandomNumber(titlesExamples.length - 1)
            titleEl.textContent = titlesExamples[index];
        }

        setInterval(
            function () {
                changeTitle()
            },
            3000);
    }
    changeNavSearchTitle();
</script>