@{
    ViewData["Title"] = "Home Page";
}

<header>
    <section class="home-nav">
        <a class="home-logo" asp-controller="Home" asp-action="Index">TrendZ</a>
        <div class="nav-search">
            <form>
                <label for="search">Bikini</label>
                <input type="text" id="search" name="search" />
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="nav-links">
            <ul>
                <li><a asp-controller="" asp-action="">Register</a></li>
                <li><a asp-controller="" asp-action="">Cart</a></li>
                <li><a asp-controller="" asp-action="">Favorites</a></li>
            </ul>
        </div>
    </section>
</header>