@inject ICategoryService categoryService

@{
    ViewData["Title"] = "Home Page";
}

<header>
    <a class="home-discount" asp-controller="" asp-action="">
        <img src="~/images/discount_banner.png" />
    </a>
    <section class="home-nav">        
        <a class="home-logo" asp-controller="Home" asp-action="Index">T R E N D z</a>
        <div class="nav-search">
            <form>
                <label for="search">Bikini</label>
                <input type="text" id="search" name="search" />
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="nav-links">
            <ul>
                <li><a asp-controller="" asp-action=""><i class="fa-solid fa-right-to-bracket" style="color: #000;"></i></a></li>
                <li><a asp-controller="" asp-action=""><i class="fa-solid fa-cart-shopping" style="color: #000;"></i></a></li>
                <li><a asp-controller="" asp-action=""><i class="fa-solid fa-heart" style="color: #000;"></i></a></li>
            </ul>
        </div>
    </section>
    <section class="home-categories">
        @{
            var categories = await categoryService.GetAllCategoriesAsync();

            <ul>                
                @{
                    foreach (var item in categories)
                    {
                        <li>
                            <a asp-action="" asp-controller="">@item.Name</a>
                        </li>
                    }
                }
            </ul>
        }
    </section>
</header>