@{
    ViewData["Title"] = "Home Page";
}

<header>
    <section class="home-nav">
        <a asp-controller="Home" asp-action="Index">TrendZ</a>
        <div class="nav-search">
            <textarea>Bikini</textarea>
            <a>Search</a>
        </div>
        <div class="nav-links">
            <ul>
                <li><a>Register</a></li>
                <li><a>Cart</a></li>
                <li><a>Favorites</a></li>
            </ul>
        </div>
    </section>
</header>