<div class="left-container">
    <div class="footer-lists">
        <ul>
            COMPANY INFO
            <li>
                <a asp-action="" asp-controller="">About TRENDz</a>
            </li>
            <li>
                <a asp-action="" asp-controller="">Fashion Blogger</a>
            </li>
            <li>
                <a asp-action="" asp-controller="">Careers</a>
            </li>
        </ul>
        <ul>
            HELP & SUPPORT
            <li>
                <a asp-action="" asp-controller="">Shipping Info</a>
            </li>
            <li>
                <a asp-action="" asp-controller="">Returns</a>
            </li>
            <li>
                <a asp-action="" asp-controller="">Refund</a>
            </li>
            <li>
                <a asp-action="" asp-controller="">How to Order</a>
            </li>
            <li>
                <a asp-action="" asp-controller="">How to Track</a>
            </li>
            <li>
                <a asp-action="" asp-controller="">Size Guide</a>
            </li>
        </ul>
        <ul>
            CUSTOMER CARE
            <li>
                <a asp-action="" asp-controller="">Contact us</a>
            </li>
            <li>
                <a asp-action="" asp-controller="">Payment & Tax</a>
            </li>
        </ul>
    </div>
    <p>&copy;@DateTime.Now.Year TRENDZ All Rights Reserved</p>
</div>
<div class="right-container">
    <p>FIND US ON</p>
    <ul>
        <li>
            <a href="#"><i class="fa-brands fa-facebook" style="color: #000"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa-brands fa-instagram" style="color: #000"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa-brands fa-twitter" style="color: #000"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa-brands fa-tiktok" style="color: #000"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa-brands fa-youtube" style="color: #000"></i></a>
        </li>
    </ul>
    <p>Sign up for Trendz style news</p>
    <form>
        <input id="email" type="email" placeholder="Your Email Address" />
        <button type="submit">Subscribe</button>
    </form>
    <p>By clicking the SUBSCRIBE button, you are agreeing to our Privacy & Cookie Policy  If you want to unsubsribe the marketing email, please proceed to our privacy center.</p>
</div>