@inject ICategoryService categoryService
@inject ICartService cartService
@inject IFavoriteProductService favoriteProductService

<img class="home-new-coupon" src="~/images/discount_banner.png" />
<section class="home-nav">
    <a class="home-logo" asp-controller="Home" asp-action="Index">T R E N D z</a>
    <div class="nav-search">
        <form>
            <label for="search">Bikini</label>
            <input type="text" id="search" name="search" />
            <button type="submit"><i class="fa-solid fa-magnifying-glass" style="color: #fff;"></i></button>
        </form>
    </div>
    <div class="nav-links">
        <ul>
            @{
                if (User?.Identity?.IsAuthenticated == true)
                {
                    <li>
                            <a class="user-container-link" href=""><i class="fa-solid fa-user" style="color: #000;"></i></a>
                            <ul class="user-links-container">
                                <li><a asp-action="Orders" asp-controller="User">My Orders</a></li>
                                <li><a asp-action="RecentlyViewed" asp-controller="Product">Recently Viewed</a></li>
                                <li><a asp-action="Logout" asp-controller="User">Logout</a></li>
                            </ul>
                    </li>
                    <li class="user-link">
                        <a asp-controller="Home" asp-action="Cart">
                            <i class="fa-solid fa-cart-shopping" style="color: #000;"></i>
                            <p>@await cartService.GetUserCartItemCountAsync(User.Id())</p>
                        </a>
                    </li>
                    <li class="user-link">
                        <a asp-controller="Home" asp-action="FavoriteProducts">
                            <i class="fa-solid fa-heart" style="color: #000;"></i>
                            <p>@await favoriteProductService.GetUserFavoriteProductsCountAsync(User.Id())</p>
                        </a>
                    </li>                  
                }
                else
                {
                    <li><a asp-controller="User" asp-action="Register"><i class="fa-solid fa-right-to-bracket" style="color: #000;"></i></a></li>
                }
            }
        </ul>
    </div>
</section>
<section class="home-categories">
    @{
        var categories = await categoryService.GetAllCategoriesAsync();

        <ul>
            @{
                foreach (var item in categories)
                {
                    <li>
                        <a asp-action="Products" asp-controller="Home" asp-route-category="@item.Name">@item.Name</a>
                    </li>
                }
            }
        </ul>
    }
</section>

<script>
    function userBtnHandler(){
        const userBtn = document.querySelector('.user-container-link');
        const userList = document.querySelector('.user-links-container');
        const headerEl = document.querySelector('header');

        userBtn.addEventListener('mouseover', ()=>{
            if(userList.style.display === 'flex'){
                userList.style.display = 'none';
            }else {
                userList.style.display = 'flex';
            }
        })
    }

    userBtnHandler();
</script>