* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.home-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4em;
}

.nav-links ul {
    display: flex;
    gap: 2.5em;
}

    .nav-links ul li {
        list-style: none outside;
    }

    .nav-links ul a {
        text-decoration: none;
        color: #000;
        font-size: 1.5em;
    }

    .nav-links ul li .user-links-container {
        display: none;
        flex-wrap: wrap;
        padding: 0;
        gap: 1em;
        margin-top: 1em;
        margin-right: 2em;
        background: #fff;
        border: 1px solid #000;
        padding: 1em;
        border-radius: 1em;
        position: absolute;
    }

    .nav-links ul .user-link a {
        display: flex;
        align-items: center;
    }

        .nav-links ul .user-link a p {
            margin: 0 0 0 0.5em;
            padding: 0;
            opacity: 0.8;
            font-size: 1.4rem;
        }

    .user-links-container li {
        flex: 1 1 auto;
        width: 100%;
        font-size: 0.7rem;
        opacity: 0.8;
    }

.home-logo {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 2em;
}

    .home-logo:hover {
        color: #000;
    }

.nav-search {
    position: relative;
}

    .nav-search form label {
        position:absolute;
        top: 0.4em;
        left: 0.5em;
        cursor: text;
    }

    .nav-search form input {
        border-radius: 0.3em;
        padding: 0.2em;
    }

    .nav-search form button {
        border-radius: 0.3em;
        background: #000;
        border-color: #000;
        color: #fff;
        padding: 0.2em;
        width: 50px;
    }

.home-new-coupon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 200px;
}

.home-categories {
    border-bottom: 1px solid grey;
}

.home-categories ul {
    display: flex;
    margin-top: 1em;
    gap: 1em;
}


.home-categories li {
    list-style: none outside;
}

.home-categories a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

.top-categories ul li ul {
    display: flex;
    gap: 3em;
    margin-top: 2em;
}


.top-categories li {
    list-style: none outside;
    flex: 1 1 50%;    
}

.top-categories ul li ul li {
    text-align: center;
}

.top-categories img{
    width: 90%
}

.top-categories a {
    color: #000;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.home-offers {
    margin: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .home-offers i {
        margin: 0 3em;
        font-size: 1.5rem;
    }

    .home-offers ul {
        margin: 0;
        padding: 0;
    }

    .home-offers li {
        list-style: none outside;
    }

    .home-offers a {
        width: 100%;
    }

    .home-offers i {
        cursor: pointer;
    }

    .home-offers img {
        width: 800px;
        height: 400px;
        border-radius: 0.5em;
    }

.coupon-enabled {
    display: block;
}

.coupon-disabled {
    display: none;
}

.home-recommended {
    margin: 3em 0;
}

    .home-recommended h3 {
        text-align: center;
        margin-bottom: 1em;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.5rem;
    }

    .home-recommended .show-more-btn {
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 1.1rem;
        color: #fff;
        background: #000;
        border-radius: 2em;
        padding: 0.3em 1.1em;
        text-decoration: none;
        margin-top: 4em;
    }

    .home-recommended ul{
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    .home-recommended li {
        list-style: none outside;
    }

.product-info-parent-container {
    box-shadow: none;
    padding: 0.5em;
}
.product-info-parent-container:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-info-link {
    text-decoration: none;
    color: #000;
}

    .product-info-link img {
        height: 400px;
        width: 300px;
        margin-bottom: 1em;
    }

.product-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}
.product-discount {
    display: flex;
    gap: 1em;
    color: red;
    align-items: center
}

    .product-discount h5 {
        margin: 0;
    }
    .product-discount p {
        padding: 0.2em 0.5em;
        border: 1px solid red;
        margin: 0;
    }

.product-info-container button{
    background: none;
    border: 1px solid black;
    padding: 0.5em;
    border-radius: 1em;
}

    .product-info-container button i{
        font-size: 1.3rem;
        padding: 0;
        margin: 0;
    }

.footer-container {
    background: #f7f7f7;
    width: 100%;
    display:flex;
    justify-content: space-between;
    padding: 2em;
}

    .footer-container .left-container,
    .footer-container .right-container {
        flex: 1 1 50%;
    }

        .footer-container .left-container p {
            margin-top: 5em;
        }

        .footer-lists {
            display: flex;
        }

    .footer-lists ul{
        margin: 0;
        padding: 0;
        width: 100%;
        color: #000;
    }
    .footer-lists li {
        list-style: outside none;        
    }
    .footer-lists a {
        text-decoration: none;
        color: #000;
        opacity: 0.6;
    }

.footer-container .right-container ul {
    display: flex;
    gap: 2em;
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
}

.footer-container .right-container li {
    list-style: outside none;
}

.footer-container .right-container i{
    font-size: 1.5rem;
}

.footer-container .right-container input,
.footer-container .right-container button {
    padding: 0.3em;
    border: 1px solid #000;
    border-radius: 0.3em;
    margin-bottom: 3em;
}

.footer-container .right-container button{
    background: #000;
    color: #fff;
    padding: 0.3em 1em;
}

.footer-container .right-container p{
    width: 400px
}

#registerForm,
#account {
    margin: 2em 0;
}

    #registerForm button,
    #account button{
        background: #000;
        border: none;
        margin-top: 0.5em;
    }

    #registerForm a {
        display: inline-block;
        margin-top: 1em;
        color: #000;
    }


.products-page-container {
    margin: 2em 0;
}
.products-page-container ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.products-page-container li {
    list-style: outside none;
}

.product-acc-section .acc {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

    .active, .acc:hover {
        background-color: #ccc;
    }

.product-acc-section .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.product-container {
    display: flex;
    gap: 2em;
    margin-top: 2em;
}

    .product-container li {
        list-style: none outside;
    }

.product-images-container {
    display: flex;
    gap: 0.5em;
}

    .product-images-container .selecting-img {
        width: 80px;
        height: 130px;
        margin-bottom: 0.6em;
    }

    .product-images-container .main-img{
        width: 700px;
        height: 1000px;
    }

.product-description-container .product-name {
    font-size: 1.7rem;
    font-weight: bold;
}

.product-rating-stars ul {
    display: flex;
    gap: 0.5em;
    padding: 0;
    margin: 0;
    color: #FFD43B;
}