* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.home-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4em;
}

.nav-links ul {
    display: flex;
    gap: 2.5em;
}

    .nav-links ul li {
        list-style: none outside;
    }

    .nav-links ul a {
        text-decoration: none;
        color: #000;
        font-size: 1.5em;
    }

.home-logo {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 2em;
}

    .home-logo:hover {
        color: #000;
    }

.nav-search {
    position: relative;
}

    .nav-search form label {
        position:absolute;
        top: 0.4em;
        left: 0.5em;
        cursor: text;
    }

    .nav-search form input {
        border-radius: 0.3em;
        padding: 0.2em;
    }

    .nav-search form button {
        border-radius: 0.3em;
        background: #000;
        border-color: #000;
        color: #fff;
        padding: 0.2em;
        width: 50px;
    }

.home-new-coupon img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 200px;
}

.home-categories {
    border-bottom: 1px solid grey;
}

.home-categories ul {
    display: flex;
    margin-top: 1em;
    gap: 1em;
}


.home-categories li {
    list-style: none outside;
}

.home-categories a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

.top-categories ul li ul {
    display: flex;
    gap: 3em;
    margin-top: 2em;
}


.top-categories li {
    list-style: none outside;
    flex: 1 1 50%;    
}

.top-categories ul li ul li {
    text-align: center;
}

.top-categories img{
    width: 90%
}

.top-categories a {
    color: #000;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.home-offers {
    margin: 1.5em 0;
    padding: 0 20%;
}

    .home-offers a {
        width: 100%;
    }

    .home-offers img {
        width: 800px;
        height: 400px;
        border-radius: 0.5em;
        margin: 0 auto;
    }