* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.home-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul{
    display: flex;
}

    .nav-links ul li {
        list-style: none outside;
        margin-left: 1em;
    }

    .nav-links ul a {
        text-decoration: none;
        color: #000;
    }

.home-logo {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 2em;
}

    .home-logo:hover {
        color: #000;
    }

.nav-search {
    position: relative;
}

    .nav-search form label {
        position:absolute;
        top: 0.2em;
        left: 0.5em;
    }

    .nav-search form input {
        border-radius: 0.3em;
    }

    .nav-search form button {
        border-radius: 0.3em;
        background: #000;
        border-color: #000;
        color: #fff;
    }

.home-discount img {
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    max-height: 200px;
}