@model RegisterModel

<div class="register-container">
    <form asp-action="Register" asp-controller="User" method="post" enctype="multipart/form-data">
        <label for="email">Email Address</label>
        <input id="email" type="email"/>

        <label for="password">Password</label>
        <input id="password" type="password"/>

        <label for="confirm-password">Confirm Password</label>
        <input id="confirm-password" type="password" />

        <input type="submit" value="Register"/>
    </form>
</div>